<div style="text-align: center;"><h3 style="display:inline;"><%= @crowd.title -%></h3>
	&nbsp;&nbsp;&nbsp;<%= link_to 'Recent items',  crowd_items_path(@crowd) %>
	&nbsp;&nbsp;&nbsp;<tt><%= link_to 'opml', crowd_feeds_path(@crowd, :xml) -%></tt>
</div>

<p>&nbsp;</p>

<% if @feeds.size < 5 %>
<p><b>To get your crowd working, add sources</b> - websites or RSS feeds that you find valuable. 
You can add one URL at a time (the bookmarklet is especially convenient for that) or <b>import 
many at once with an OPML file</b>. Best way to start would usually be to get an OPML of your feeds from your RSS reader.</p>
<p>There's <b>no limit on number of sources</b> - the more, the better, as long as these are sources you value.</p>
<p>&nbsp;</p>
<% end %>

<% if current_user and current_user.owns?(@crowd) %>
	<div class="centered">
		Add a source URL:

		<% form_for :feed, Feed.new, :url => crowd_feeds_path(@crowd) do |f| %>
			<%= f.text_field :url %>
			<%= f.submit 'Add URL' %>
		<% end %>

		&nbsp;or upload OPML File:

		<% form_for :feed, Feed.new, :url => crowd_feeds_path(@crowd.id), :html => { :multipart => true } do |f| %>
			<%= f.file_field :opml %>
			<%= f.submit 'Import OPML' %>
		<% end %>

		<p>
			<b>Add source with a single click using the Crowds bookmarklet</b> - drag this to your bookmarks toolbar: 
			<a href="javascript:location.href='<%= root_url %>crowd/<%= @crowd.id %>/import?url='+encodeURIComponent(location.href)">&raquo;<%= @crowd.title %></a>
		</p>
		<% if @feeds.size > 5 %>Currently monitoring <%= @crowd.feeds.size %> sources: <% end %>
<% else %>
		<p align="center">
			<%= @crowd.title %> tracks the following <%= @feeds.size > 1 ? "#{@feeds.size} sources" : "source" %>. If this is your crowd, sign in to add or remove sources.
		</p>
<% end %>
</div>

<div id="feeds-list">
	<% for feed in @feeds %>
	<span class="feed-item">
		<%= link_to feed.title, feed.home_url %>
		<span class="feed-details" style="display: none"> 
			&nbsp;&nbsp;&nbsp;&nbsp;
			<tt><%= feed.url %></tt>
			&nbsp;&nbsp;&nbsp;&nbsp;
		<% if current_user and current_user.owns?(@crowd) %>
				<%= link_to 'Delete', crowd_feed_url(@crowd, feed), :method => :delete  %>
		<% end %>
		</span>
	</span>
	<br />
	<% end %>
</div>

<script>
$(".feed-item").hover( 
	function() { $(this).css('background-color', '#ebf4fa') ; $('.feed-details', this).show() },
	function() { $(this).css('background-color', '#fff') ; $('.feed-details', this).hide() }
	);
</script>