<% if current_user.nil? or current_user.crowds.size == 0 %>
	<p>
		<b><%= AppName %> helps you find the items that would interest you amongst all the blogs, websites, Twitter streams and so on that you read.</b>
	</p>
	<p>
		You might think of it as your own Digg or Reddit, that includes only users that <i>you</i> pick.
	</p>
	<p style="display: inline">
		Here's how it works: Sign in with your <% login_button -%> account to create your first crowd. Then, populate this crowd with sites that you read 
		(an easy way to start is to upload an 
		<a href="http://isiria.wordpress.com/2009/01/10/how-to-export-google-reader-feeds-into-opml/">OPML of all your Google Reader feeds</a>). 
		Add as many sites as you like - the more the better, as long as these are sites you're interested in. 
		<%= AppName %> will then monitor these sources every day for recurring links. 
		When it finds links that appears in more than one site, it will add them to the "Current Items" list.
	</p>
	<p style="display: inline">
		Confused? Take a look at an <a href="http://twitter.com/crowds" target="_blank">example crowd</a>'s 
		<%= link_to '<b>sources</b>', crowd_feeds_path(1) %> and <%= link_to '<b>current items</b>', crowd_items_path(1) %>.
	</p>
<% end -%>

<p>&nbsp;</p>

<% if current_user -%>
	<% if current_user.crowds.size == 0 -%>
	<div class="centered">
		<p>
			<span style="background-color: #fdd75c; padding: 10px">Welcome to <%= AppName %>! To start off, name your first crowd:</span><br />
		</p>
	<% else -%>
		<p>
			Your crowds: 
			<% ctr = 0 %>
			<% for crowd in @crowds -%>
			<p>
				<%= link_to "<b>#{crowd.title}</b>", crowd_items_path(crowd) -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<%= link_to "Delete", crowd_path(crowd), :method => :delete -%>
				<p style="margin-left:20px">
					<% crowd.recent_items[0..5].each do |url, data| %>
					<%= link_to_function "<tt>[+]</tt>", "$(\"#context-#{ctr}\").toggle()" %>
					<a href="<%= url %>" target="_blank"><%= (data[:title].empty?) ? url : data[:title] %></a> <%= data[:tags] %>
					<span id="context-<%= ctr %>" style="display: none">
						<ul>
						  <% data[:feeds].each do |f| -%>
							<li><% if url==f.url -%>
									<a href="<%= f.feed.home_url -%>"><%= f.feed.title -%></a></li>
								<% else -%>
									<%= f.feed.title %> : <a href="<%= f.url -%>"><%= f.title -%></a></li>
								<% end -%></li>
						  <% end %>
						</ul>
					</span>
					<br />
					<% ctr += 1%>
					<% end %>
					<%= link_to "More...", crowd_items_path(crowd) -%>
				</p>
			</p>
			<% end -%>
		</p>
	<% end -%>

	<p>&nbsp;</p>

	<p>
		<% form_for(@crowd.nil? ? Crowd.new : @crowd) do |f| %>
			<%= f.text_field :title %>
			<span style="color: green"><%= @crowd.errors['title'] unless @crowd.nil? %></span>
			<%= f.submit "Create New Crowd" %>
		<% end -%>	
	</p>
	</div>
<% end -%>