<% if current_user.nil? or current_user.crowds.size == 0 %>
	<p>
		<b><%= AppName %> is an application for finding the items that would interest you amongst all the blogs, websites, Twitter streams etc that you read.</b>
	</p>
	<p style="display: inline">
		Here's how it works: You sign in with your <% login_button -%> account, and create your first crowd. You can then upload an OPML file into it with all 
		the feeds you read (for example, from <a href="http://isiria.wordpress.com/2009/01/10/how-to-export-google-reader-feeds-into-opml/">Google Reader</a> 
		or <a href="http://www.bloglines.com/help/faq#export">Bloglines</a>), or just add them manually. Add as many sources as you like - the more sources, the better, as long as these 
		are sources you're interested in. <%= AppName %> then tracks these sources every day for recurring links. When it finds links that appears in more than one source, it adds them to the "Current Items" list.
	</p>
	<p style="display: inline">
		Confused? Take a look at an <a href="http://twitter.com/crowds" target="_blank">example crowd</a>'s 
		<%= link_to '<b>sources</b>', crowd_feeds_path(1) %> and <%= link_to '<b>current items</b>', crowd_items_path(1) %>.
	</p>

<% else -%>
	<% if current_user.crowds.size == 0 -%>
		<p>
			Welcome! To start off, name your crowd:<br />
		</p>
	<% else -%>
		<p>
			Your crowds: 
			<% for crowd in @crowds -%>
			<li>
				<%= link_to crowd.title, crowd_items_path(crowd) -%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				[<%= link_to "Delete", crowd_path(crowd), :method => :delete -%>]
			</li>
			<% end -%>
		</p>

	<% end -%>

		<p>&nbsp;</p>

		<p>
		<% form_for(@crowd.nil? ? Crowd.new : @crowd) do |f| %>
			<span style="color: green"><%= @crowd.errors['title'] unless @crowd.nil? %></span>
			<%= f.text_field :title %>
			<%= f.submit "Create New Crowd" %>
		<% end -%>
	</p>
	
<% end -%>