<% if @items.size == 0 -%>
	<p>
		No items yet for this crowd. Here's two things you can do to change this: 
		<ol>
			<li><%= link_to "Add sources", crowd_feeds_path(@crowd.id) -%>: The more sources, the better the chance of
				finding items.</li>
			<li>Wait (but only after you add some sources ;): New sources will take about a day to be processed by <%= AppName %>.</li>
		</ol>
		So, add some sources and check back in 24 hours to see your discovered items!
	</p>
<% else -%>	
	<p align="center">
		Recent links from <b><%= @crowd.title %></b>
		&nbsp;&nbsp;&nbsp;
		<%= link_to 'Sources',  crowd_feeds_url(@crowd.id) %>
		&nbsp;&nbsp;&nbsp;		
		<a href="http://fusion.google.com/add?source=atgs&feedurl=<%= crowd_items_url(@crowd, :format=>:xml) %>"><img style="vertical-align: bottom;" src="http://gmodules.com/ig/images/plus_google.gif" border="0" alt="Add to Google"></a>
		&nbsp;&nbsp;&nbsp;
	</p>
<% end -%> 
<div id="items">
	<% ctr = 0 ; current_period = -1 -%>
	<% @items.each do |url, data| -%>
		<% if data[:period] != current_period -%>
			<br /><i><%= data[:period] %></i><br />
			<% current_period = data[:period] %>
		<% end -%>
		<%= link_to_function "<tt>[+]</tt>", "$(\"#context-#{ctr}\").toggle()" %>
		<a href="<%= url %>" target="_blank"><%= (data[:title].empty?) ? url : data[:title] %></a> <%= data[:tags] %>
		<span id="context-<%= ctr %>" style="display: none">
			<ul>
			  <% data[:feeds].each do |f| -%>
				<li>
					<% if url==f.url or f.title.to_s == '' -%>
						<%= link_to f.feed.title, f.feed.home_url, { :target=>"_blank" } %>
					<% else -%>
						<%= f.feed.title %> : <%= link_to f.title, f.url, { :target=>"_blank" } %>
					<% end -%>
				</li>
			  <% end %>
			</ul>
		</span>
		<br />
		<% ctr += 1%>
	<% end %>
</div>